@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
}

:root {
    --fonte-titulo: 'Montserrat', sans-serif;
    --fonte-subtitulo: 'Poppins', sans-serif;
    --fonte-texto: 'Open Sans', sans-serif;
    --azul: #004893;
    --dourado: #ebca75;
    --cinza-claro: #f4f4f4;
}

h1 {
    font-family: var(--fonte-titulo);
}

h2 {
    font-family: var(--fonte-subtitulo);
}

h4 {
    font-family: var(--fonte-texto);
    font-weight: 700;
}

p {
    font-family: var(--fonte-texto);
}

header {
    font-family: var(--fonte-subtitulo);
    background-color: #000000;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -1px;
}

header img {
    width: 100px;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background: #000000;
    position: absolute;
    top: 60px;
    right: 1rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1em;
    text-align: start;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu.show {
    display: flex;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #444;
}

#menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#menu ul li a:hover {
    color: #ccc;
}



#hero {
    background-color: #000000;
    text-align: start;
    background-image: url("../images/imagens-principais/img-hero-erondi.jpg");
    background-position: center right;
    background-size: cover;
    color: white;
    min-height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 24px 24px 20px;
}

#hero h1 {
    font-size: 1.3em;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#hero p {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: start;
}

#hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cinza-claro);
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    border: #fff solid 1px;
    font-family: var(--fonte-texto);
    font-size: 0.7em;
    transition: all ease 0.4s;
}

#hero a:hover {
    background-color: var(--azul);
    color: var(--cinza-claro);
    border: var(--azul) solid 1px;
}

#hero>a>span {
    margin-left: 10px;
}

#imoveis {
    padding: 25px 20px;
    text-align: center;
}

#imoveis-tit {
    margin: 0 0 20px 0;
}

#subtit-imoveis {
    text-align: start;
}

#imoveis-p {
    margin: 0 0 15px 0;
    text-align: start;
}


.carrossel-fotos-imoveis-a-venda {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    padding: 10px;
}

.fotos-imoveis-a-venda {
    min-width: 300px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    flex-shrink: 0;
    scroll-snap-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.381);
}

.botao-whatsapp {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: var(--azul);
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: var(--fonte-texto);
    margin: 20px auto;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.botao-whatsapp:hover {
    background-color: #002246;
    transform: scale(1.05);
}

.icone-whatsapp {
    width: 20px;
    height: 20px;
}





@media (min-width: 768px) {
    .menu {
        display: flex !important;
        position: static;
        flex-direction: row;
        background: none;
        padding: 0;
    }

    .menu-toggle {
        display: none;
    }

    .box-servicos {
        grid-template-columns: repeat(4, 1fr);
    }
}